    .css-18e3th9 {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        font-size: 18px;
    }
    
    .stSidebar .css-1d391kg {
        background-color: grey;
        opacity: 0.5;
        color: white;
    }
    
    .css-1d391kg {
        color: black;
    }
    
    .stSidebar {
        background-color: gray;
        color: white;
    }

    .css-145kmo2 {
        background-color: white;
        color: black;
        margin-top: -2rem;
        margin-left: 2rem;
    }

    .css-1offfwp {
        margin-bottom: 1rem;
    }
